# Config file for initializing neural network prior to
# preconditioning matrix computation
input-node name=input dim=23
output-node name=output input=Append(Offset(input, -4), Offset(input, -3), Offset(input, -2), Offset(input, -1), input, Offset(input, 1), Offset(input, 2), Offset(input, 3), Offset(input, 4))
