# Config file for layer 2 of the network
# Note: param-stddev in next component defaults to 1/sqrt(input-dim).
component name=affine2 type=NaturalGradientAffineComponent input-dim=256 output-dim=2048 bias-stddev=0
# In nnet3 framework, p in P-norm is always 2.
component name=nonlin2 type=PnormComponent input-dim=2048 output-dim=256
component name=renorm2 type=NormalizeComponent dim=256 target-rms=1.0
component name=final-affine type=NaturalGradientAffineComponent input-dim=256 output-dim=3360 param-stddev=0 bias-stddev=0
component name=final-fixed-scale type=FixedScaleComponent scales=exp/nnet3/tdnn/configs/presoftmax_prior_scale.vec
component name=final-log-softmax type=LogSoftmaxComponent dim=3360
# Now for the network structure
component-node name=affine2 component=affine2 input=Append(renorm1) 
component-node name=nonlin2 component=nonlin2 input=affine2
component-node name=renorm2 component=renorm2 input=nonlin2
component-node name=final-affine component=final-affine input=renorm2
component-node name=final-fixed-scale component=final-fixed-scale input=final-affine
component-node name=final-log-softmax component=final-log-softmax input=final-fixed-scale
output-node name=output input=final-log-softmax
